html{
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*header*/

header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #BFBEBE;
    color: rgb(0, 0, 0);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    display: flex;
    gap: 1.2rem;
}

nav ul {
    list-style-type: none;
    padding: 0rem;
    margin: 0rem;
    display: flex;
    gap: 15px
}

nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 20px;
    font-weight: bolder;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    color: #ffffff;
    font-size: 21px;
}

.right-links {
    display: flex;
    gap: 15px;
}

.right-links img {
    width: 2rem;
    height: 2rem;
    transition: transform 0.3s ease;
}

.right-links img:hover {
    transform: scale(1.1);
}

/* body */

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    margin: 0rem;
    padding: 0rem;
}

/*footer*/

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 2rem;
    margin-top: auto;
    display: flex;
    flex-direction: column;
}

footer .follow-us {
    margin-bottom: 1.3rem;
}

footer .follow-us h2 {
    font-size: 20px;
    margin-bottom: 0.8rem;
}

.link-networks {
    width: 1.9rem;
    height: 1.9rem;
    margin: 0 0.3rem;
    transition: transform 0.3s ease;
}

.link-networks:hover {
    transform: scale(1.1);
}

footer a {
    color: white;
    text-decoration: none;
    transition: transform 0.3s ease;
    display: inline-block;
}

footer a:hover {
    transform: scale(1.03);
}

.ake {
    margin-top: 1rem;
}

/* карточка товара */

.product-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
}

.product-card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    padding: 1rem;
    max-width: 1400px;
    display: flex;
    gap: 5rem;
}

.product-image {
    height: 550px;
    width: 450px;
    border-radius: 8px;
}

.product-info {
    width: 70%;
}

.product-title {
    font-size: 30px;
    font-weight: bold;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
    color: #000000;
}

.product-details {
    font-size: 23px;
    margin-bottom: 0;
    color: #000000;
}

.product-details p {
    margin: 7px 40px;
}

.product-price {
    font-size: 30px;
    color: #000000;
    font-weight: bold;
    margin: 0 2.5rem 0.5rem 2.5rem;
}

.click-btn {
    display: block;
    width: 15rem;
    margin-left: 3.3rem;
    padding: 1rem;
    background-color: black;
    color: white;
    font-size: 22px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.disabled-btn {
    display: block;
    width: 15rem;
    margin-left: 3.3rem;
    padding: 1rem;
    background-color: #c6c6c6;
    color: black;
    font-size: 22px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.click-btn:hover {
    background-color: #333;
}

.slider {
    position: relative;
    width: 100%;
    max-width: 450px;
    overflow: hidden;
    border-radius: 8px;
}

.slider-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* главная страница*/

.main-page{
    padding: 0.5rem;
}

.about-us {
    max-width: 1500px;
    margin: 1rem auto;
    padding: 3rem 2.5rem 2rem 2.5rem;
    background: linear-gradient(135deg, #1a2a33, #889398);
    border-radius: 20px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
    font-family: 'Segoe UI', sans-serif;
}

.about-us h2 {
    font-size: 48px;
    font-weight: 700;
    color: #cdc7c7;
    margin-bottom: 2rem;
    letter-spacing: 1px;
}

.about-us p {
    font-size: 22px;
    line-height: 1.8;
    margin-bottom: 1.5rem;
}

.text-center {
    text-align: center;
    font-size: 35px;
    margin: 1.3rem 0;
}

.row-main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.col-md-4-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    width: calc(33.33% - 14px);
    box-sizing: border-box;
    transition: transform 0.3s ease;
}

.col-md-4-main:hover {
    transform: scale(1.03);
}

.col-md-4-main img {
    height: 570px;
    width: 450px;
    border-radius: 10px;
}

.image-name-main {
    margin: 3.5rem 0 0.1rem 0;
    font-size: 22px;
    font-weight: bolder;
    color: #333;
}

.image-text-main {
    font-size: 22px;
    font-weight: bolder;
    color: #333;
}

/* страница товаров */

section {
    padding: 0.5rem;
}

section h2 {
    margin: 8px 0;
    text-align: center;
}

.gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 0.5rem;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    width: calc(33.33% - 14px);
    box-sizing: border-box;
    transition: transform 0.3s ease;
}

.image-container:hover {
    transform: scale(1.03);
}

.image-container img {
    height: 520px;
    width: 430px;
    border-radius: 10px;
}
.image-name-category {
    margin: 0.3rem 0 0.1rem 0;
    font-size: 22px;
    font-weight: bolder;
    color: #333;
}
.image-text {
    font-size: 22px;
    font-weight: bolder;
    color: #333;
}

/* страница профиля */

.profile {
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0.6rem auto;
    padding: 0.8rem 0.6rem;
}

.profile-header {
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    padding: 0.3rem 1rem 1.5rem 0.5rem;
    border-radius: 10px;
}

.avatar {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    margin-right: 2.5rem;
    border:#000 1.5px solid;
}

.main-order{
    background: linear-gradient(135deg, #1a2a33, #889398);
    padding: 0.5rem 1rem;
    border-radius: 15px;
    margin-bottom: 30px;
}

.main-order h2 {
    color: #e6e6e6;
}

.profile-info {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.profile-info h2,
.profile-info p {
    margin: 3px;
    line-height: 1.2;
}

.profile-info h2 {
    font-size: 32px;
    font-weight: bold;
}

.profile-info p {
    font-size: 20px;
    color: #333;
}

.logout-btn {
    padding: 0.4rem 1.1rem;
    font-size: 13px;
    font-weight: bold;
    background-color: #5e5e5e;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logout-btn:hover {
    background-color: #333;
}

.orders-title {
    text-align: center;
    font-size: 36px;
    margin: 1.5rem 0 1.5rem 0;
    font-weight: bold;
}

.order-card {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
}

.order-info {
    flex: 1;
}

.order-date {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}

.status {
    display: inline-block;
    background-color: #00cc66;
    color: white;
    padding: 5px 15px;
    border-radius: 15px;
    font-size: 16px;
    font-weight: bold;
}

.order-products {
    flex: 2;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.order-products img {
    width: 120px;
    height: auto;
    border-radius: 5px;
}

.order-total {
    flex: 1;
    text-align: right;
    font-size: 22px;
    font-weight: bold;
}

/* регистрация */

.main-registration{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.register-section {
    background-color: #eeeeee;
    padding: 2rem;
    border-radius: 15px;
    width: 90%;
    max-width: 600px;
}

.register-section h2 {
    text-align: center;
    margin-bottom: 1.8rem;
    font-size: 32px;
    font-weight: bold;
}

.register-form {
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
}

.register-form label {
    font-size: 18px;
    font-weight: bold;
}

.register-form input {
    padding: 0.6rem;
    border: none;
    border-radius: 10px;
    background-color: #d3d3d3;
    font-size: 16px;
}

.register-form small {
    font-size: 14px;
    color: #555;
    margin-bottom: 0.6rem;
}

.register-form button {
    background-color: black;
    color: white;
    padding: 0.8rem;
    font-size: 18px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    margin-top: 0.6rem;
}

.register-form button:hover {
    background-color: #333;
}

/* офомление заказа */

.main-oform {
    max-width: 1350px;
    margin: 2.5rem auto;
    padding: 0 1rem 4rem 1rem;
}

.order-title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 1.7rem;
    font-weight: bold;
}

.order-container {
    display: flex;
    gap: 2.5rem;
    justify-content: space-between;
    align-items: stretch;
}

.address-form {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.address-form h3 {
    font-size: 24px;
    margin-bottom: 0.6rem;
}

.address-form input,
.address-form textarea {
    padding: 0.6rem;
    background-color: #d3d3d3;
    border: none;
    border-radius: 8px;
    font-size: 16px;
}

.address-form textarea {
    min-height: 100px;
    resize: none;
}

.small-inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.6rem;
}


.order-summary {
    flex: 1.5;
    border-left: 2px solid #ccc;
    padding-left: 2rem;
}

.order-summary h3 {
    font-size: 24px;
    margin-bottom: 0.6rem;
}

.order-items {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.order-item {
    display: flex;
    gap: 1.2rem;
    align-items: center;
}

.item-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.order-item img {
    width: 100px;
    height: auto;
    border-radius: 5px;
}

.item-info p {
    font-size: 18px;
}

.remove-btn {
    background: none;
    border: none;
    font-size: 35px;
    cursor: pointer;
}

.remove-btn:hover {
    color: red;
}

.payment-summary {
    flex: 1.5;
    border-left: 2px solid #ccc;
    padding-left: 1.6rem;
}

.payment-summary h3 {
    font-size: 24px;
    margin-bottom: 1rem;
}

.payment-details p {
    font-size: 18px;
    margin-bottom: 0.6rem;
}

.payment-note {
    font-size: 16px;
    color: black;
    margin: 1rem 0;

}

.payment-note .asterisk {
    color: red;
}

.order-btn {
    width: 100%;
    padding: 0.9rem;
    background-color: black;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.order-btn:hover {
    background-color: #333;
}

.success-card p {
    margin-bottom: 1.3rem;
    font-weight: bold;
}

/* вход в акк */

.login-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3.2rem;
    padding: 0 1rem;
}

.login-title {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 2.7rem;
    text-align: center;
}

.login-card {
    border: 1px solid black;
    border-radius: 10px;
    padding: 1.7rem 4rem;
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.7rem;
}

.login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    margin-bottom: 1rem;
}

.login-form label {
    font-size: 16px;
    font-weight: bold;
}

.login-form input {
    padding: 0.6rem;
    background-color: #d3d3d3;
    border: none;
    border-radius: 8px;
    font-size: 16px;
}

.login-btn {
    background-color: black;
    color: white;
    border: none;
    padding: 0.6rem;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    margin: 0.6rem 6.5rem 0.7rem 6.5rem;
}

.login-btn:hover {
    background-color: #333;
}

.no-account-text {
    font-size: 14px;
    color: grey;
    margin-bottom: 0.6rem;
}

.register-btn {
    background-color: black;
    color: white;
    border: none;
    padding: 0.6rem 1.1rem;
    font-size: 14px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
}

.register-btn:hover {
    background-color: #333;
}

a{
    text-decoration: none;
    color: black;
}