{% include 'header.html' %}
{% set ns = namespace(total=0) %}
<main class="main-oform">
    <h2 class="order-title">Оформление заказа</h2>
    <div class="order-container">
        <form id="order" class="address-form" action="/order/create" method="post" accept-charset="utf-8"
      enctype="multipart/form-data">
            <h3>Адрес:</h3>
            <input id="address" name="address" type="text" placeholder="Адрес"  required>
        </form>

        <div class="order-summary">
            <h3>Заказ:</h3>
            <div class="order-items">
                {% for product_card in cart %}

                {% if product_card.count > 0 %}

                <div class="order-item">
                    <img src="../static/img/products_images/{{product_card.product.image_filename}}" alt="{{product_card.product.name}}">
                    <div class="item-content">
                        <div class="item-info">
                            <p><strong>{{product_card.product.name}}</strong></p>
                            <p>Цена: {{product_card.new_price.price}} ₽</p>
                            {% set ns.total = ns.total + product_card.new_price.price %}
                            <p>Артикул: {{product_card.product.product_code}}</p>
                        </div>
                        <button class="remove-btn" onclick="del_from_cart({{product_card.product.id}})">🗑</button>
                    </div>
                </div>
                {% endif %}

                {% endfor %}

            </div>
        </div>

        <div class="payment-summary">
            <h3>К оплате:</h3>
            <div class="payment-details">
                <p>Количество товаров: <strong>{{(cart | selectattr('count', '>', 0) | list | length)}}</strong></p>
                <p>Сумма: <strong>{{ns.total}} ₽</strong></p>
            </div>
            <p class="payment-note"><span class="asterisk">*</span> Оплата только при получении</p>
            <input type="submit" class="order-btn" form="order">

        </div>

    </div>
</main>
<script>
    async function del_from_cart(product_id) {
        event.preventDefault()
        const response = await fetch('/product/del_from_cart?pr_id=' + product_id, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json'
            }
        })
        const json_res = await response.json();
        if (json_res.status_code === 401) {
            window.location.reload();
        } else if (response.status === 200) {
            window.location.reload();
        } else {
            alert("Не удалось добавить товар. Возможно он уже есть в корзине.")
        }
    }
</script>

{% include 'footer.html' %}


