    <footer>
        <section class="follow-us">
            <h2>Следите за нами</h2>
            <a href="https://ru.pinterest.com/MosPoliteh/" target="_blank">
                <img src="../static/pinterestAkebia.png" class="link-networks">
            </a>
            <a href="https://vk.com/moscowpolytech?from=search" target="_blank">
                <img src="../static/vkAkebia.png" class="link-networks">
            </a>
            <a href="https://web.telegram.org/k/#@mospolytech" target="_blank">
                <img src="../static/telegramAkebia.png" class="link-networks">
            </a>
        </section>
        <p>Номер поддержки: <a href="tel:+79684354211">+7 (968) 435-42-11</a></p>
        <p>Почта: <a href="mailto:support@akebia.com">support@akebia.com</a></p>
        <p class="ake">©АКЕВІА</p>
    </footer>
</body>
</html>
