<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if page_name %}
    <title>{{page_name}}</title>
    {% else %}
    <title>AKEBIA</title>
    {% endif %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <h1><a href="/"><strong>АКЕВІА</strong></a></h1>
        <nav>
            <ul>
                <li><a href="/category?cat_id=4">Худи</a></li>
                <li><a href="/category?cat_id=5">Зипки</a></li>
                <li><a href="/category?cat_id=8">Футболки</a></li>
            </ul>
        </nav>
        <nav class="right-links">
            <a href="/user">
                <img src="../static/userPhoto.png" class="user_logo">
            </a>
            <a href="/cart">
               <img src="../static/basket.png" class="user_logo">
            </a>
        </nav>

    </header>
